.navigation-menu{
    display: flex;
    flex-direction:row;
    list-style: none;
    background-color: deepskyblue;
    justify-content:flex-end;
    font-size: 18px;
}


li{
    margin:4px;

}
li a{
    text-decoration: none;
    color:white;
}

@media all and (max-width:800px){
    .navigation-menu{
        justify-content:space-around;
    }
}

@media all and (max-width:600px){
    .navigation-menu{
        flex-flow: column wrap;

    }

    li a{
    text-align: center;
}


}