#heading {
    text-align: center;
}

#byLine {
    text-align: center;
}

#img1 {
    float: left;
    width: 33.3333%
}

#img2 {
    float: left;
    width: 33.3333%
}

#img3 {
    float: left;
    width: 33.3333%
}

header {
    margin-top: 3em;
}

p {
    margin: 0 .5em;
}
