body {
    font-family: 'Raleway', sans-serif;
    font-size: 13pt;
    font-weight: 300;
    background: #333333 url('/pic01.jpg');
    background-position: center;
    color: #fff;
}

header {
    margin-top: 6.85em;
    text-align: center;
    font: inherit;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    margin: 1.25em;
}

article {
    width: 40.625em;
    margin: auto;
    margin-top: 5em;
    font: inherit;
}

article h2 {
    text-align: center;
    font-size: 3.5em
}

article p {
    width: 100%;
    font-size: 1.6em;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
}

input[type="button"] {
    display: block;
    margin: auto;
}

.button {
    display: inline-block;
    margin: auto;
    background: #3ac984;
    color: white;
    text-align: center;
    border-radius: 40px;
    font-size: 1.4em;
    padding: 0.80em 2em;
    text-decoration: none;
    cursor: pointer;
}
