body{
    background-image:url('1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-list{
    font-size: 50px;
    letter-spacing: 1px;
}

li{
    list-style: none;
}

li a{
    /*display: block;*/
    text-decoration: none;
    color: transparent;
    text-shadow:0px 0px 5px #fff;
    -webkit-transition:all 0.3s ease-in-out;;
}

.menu-list:hover li a{
    text-shadow:0px 0px 5px #0d1a3a;
}


li a:hover{
    color: #fff;
    text-shadow: 0px 0px 1px #fff;
    padding-left: 10px;
}

